.row-fluid
  .col-12
    .table-actions
      %button.reset{type: 'button'} Reset filters
      = full_name_button
      = download_button
      %input{type: "text", value: 'samples.csv', class: 'csv-filename'}
      .loading_table
        .loading_logo

.row-fluid
  .col-12
    .description_wide
      The expression data are obtained by FANTOM5 project with CAGE (Cap Analysis of Gene Expression) technique in multiple cell lines and tissues and primary cells from different donors. Cell-type specific expression profiles are represented in corresponding sections “CELL_LINE”, “PRIMARY_CELL” and “TISUUE”. Section “TIMECOURSE” provides information on gene expression in time courses after biological stimuli. Additionally, section “FRACTIONATION” contains information on gene expression from cellular fractionation samples.

.row-fluid
  .col-12
    %table#samples.toggle-sample-format-target.tablesorter
      %thead
        %tr
          = sample_table_header :sample_kind, class: ['group-text', 'sample_kind'] do |html_text|
            = html_text
            .help-icon.has-tooltip{data: {toggle: 'tooltip', placement: 'bottom', title: 'Choose sample class (cell_line, primary_cell, tissue, fractionation or timecourse)'}}
          = sample_table_header :sample_name, show_always: true, class: ['sample_link'], data: {'sample-format' => 'short'} do |html_text|
            = html_text
            .help-icon.has-tooltip{data: {toggle: 'tooltip', placement: 'bottom', title: 'Choose the sample of interest'}}
      %tbody
        - @samples.each do |sample|
          %tr
            %td= sample.sample_kind
            %td= sample
