%h4
  = @sample
  = surround '(', ')' do
    = @sample.fantom_sstar_link

.table-actions
  %button.reset{type: 'button'} Reset filters
  %button.select-columns-btn{type: 'button'} Select Columns
  %button.download{type: 'button'} Get CSV
  %input{type: "text", value: 'samples.csv', class: 'csv-filename'}
  .loading_table
    .loading_logo

%table.sample-expressions.tablesorter.toggle-sample-format-target.attach-column-selector
  %thead
    %tr
      %th.molecule_kind.filter-select.group-text
        = t 'activerecord.attributes.expression.molecule_kind'
      %th.hgnc_symbol
        = t 'activerecord.attributes.expression.hgnc_symbol'
      %th.hgnc_id
        = t 'activerecord.attributes.expression.hgnc_id'
      %th.expression_bar{'data-placeholder' => "Try `>=100` or `100 to 1000`", 'data-value' => '>10'}
        = t 'activerecord.attributes.expression.expression'
      %th.percentile_over_genes
        = t 'activerecord.attributes.expression.percentile_over_genes'
      %th.percentile_over_samples
        = t 'activerecord.attributes.expression.percentile_over_samples'


  %tbody
    - @sample_expressions_with_percentiles.each do |hgnc_id, expression, percentile_over_genes, percentile_over_samples|
      - obj = (@genes_by_hgnc_id[hgnc_id] || @histones_by_hgnc_id[hgnc_id]).decorate
      - hgnc_symbol = @gene_expressions.hgnc_symbol_by_id(hgnc_id)
      %tr
        %td= obj.molecule_kind
        %td= link_to hgnc_symbol, obj
        %td= hgnc_id
        %td= expression
        %td= '%.5f' % percentile_over_genes
        %td= '%.5f' % percentile_over_samples
