%h4 Histone info
%table.epigene_info.key_value_info
  %tbody
    = table_info_row @histone.object, :hgnc_symbol
    = table_info_row @histone, :status
    = table_info_row @histone, :hgnc_id, value_column_html: {class: 'hgnc_id'}
    = table_info_row @histone, :hgnc_name
    = table_info_row @histone, :gene_id, value_column_html: {class: 'gene_id'}
    = table_info_row @histone, :uniprot_ac, value_column_html: {class: 'uniprot_ac'}
    = table_info_row @histone, :uniprot_id, value_column_html: {class: 'uniprot_id'}
    = table_info_row @histone, :domain, value_column_html: {class: 'pfam_domain'}
    = table_info_row @histone, :mgi_symbol
    = table_info_row @histone, :mgi_id, value_column_html: {class: 'mgi_id'}
    = table_info_row @histone, :uniprot_ac_mm, value_column_html: {class: 'uniprot_ac'}
    = table_info_row @histone, :uniprot_id_mm, value_column_html: {class: 'uniprot_id'}
    = table_info_row @histone, :gene_tag
    = table_info_row @histone, :gene_desc
    = table_info_row @histone, :complex_name
    = table_info_row @histone, :targeted_by_protein
    = table_info_row @histone, :targeted_by_complex, value_column_html: {class: 'target_complex'}
    = table_info_row @histone, :pmid, value_column_html: {class: 'pmid'}
    = table_info_row @histone, :comment

%hr
%h4 Expression statistics
= render partial: 'shared/statistics', locals: {statistics: @expression_statistics}
= render partial: 'shared/expressions_by_tissues', locals: {expressions_by_tissues: @expressions}
