%h4 Histone info
%table.epigene_info.key_value_info
  %tbody
    = table_info_row @histone, :hgnc_symbol
    = table_info_row @histone, :hgnc_id, value_column_html: {class: 'hgnc_id'}
    = table_info_row @histone, :hgnc_name
    = table_info_row @histone, :gene_id, value_column_html: {class: 'gene_id'}
    = table_info_row @histone, :refseq_hs, value_column_html: {class: 'refseq'}
    = table_info_row @histone, :uniprot_ac, value_column_html: {class: 'uniprot_ac'}
    = table_info_row @histone, :uniprot_id, value_column_html: {class: 'uniprot'}
    = table_info_row @histone, :mgi_id, value_column_html: {class: 'mgi'}
    = table_info_row @histone, :refseq_mm, value_column_html: {class: 'refseq'}
    = table_info_row @histone, :ec_number, value_column_html: {class: 'ec_number'}
    = table_info_row @histone, :ec_descr
    = table_info_row @histone, :gene_tag
    = table_info_row @histone, :gene_desc

%hr
%h4 Expression statistics
%table.expression_statistics.key_value_info
  %tbody
    %tr
      %td Expression range:
      %td= @expression_statistics.range

    %tr
      %td Mean expression:
      %td= @expression_statistics.mean_with_stddev
    %tr
      %td Median expression:
      %td= @expression_statistics.median

%table.gene_expression_by_tissue.tablesorter{'data-sortlist' => '[[1,1]]'}
  %thead
    %tr
      %th Sample
      %th{'data-placeholder' => "Try `>=100` or `100 to 1000`", 'data-value' => '>10'} Expression
  %tbody
  - @expressions.each do |tissue, expression|
    %tr
      %td= tissue
      %td= expression.round(1)
