.expressions-table-actions
  %button.toggle-sample-format Full/short names
  = download_button
  %input{type: "text", value: 'expressions.csv', class: 'csv-filename'}
%table.gene_expression_by_sample.toggle-sample-format-target.tablesorter
  %thead
    %tr
      %th.sample_kind.group-text
        = t 'activerecord.attributes.sample.sample_kind'
      %th.sample_link{data: {'sample-format' => 'short'}}
        = t 'activerecord.attributes.sample.sample_name'
      %th.expression_bar{'data-placeholder' => "Try `>=100` or `100 to 1000`", 'data-value' => '>10'}
        = t 'activerecord.attributes.sample.expression'
      %th.quantile_over_genes.quantile
        = t 'activerecord.attributes.sample.quantile_over_genes'

  %tbody
    - expressions_with_quantiles.each do |sample, expression, quantile_over_genes|
      %tr
        %td= sample.sample_kind
        %td= sample
        %td= expression
        %td= quantile_over_genes
