.expressions-table-actions
  %button.toggle-sample-format Full/short names
  = download_button
  %input{type: "text", value: 'expressions.csv', class: 'csv-filename'}
%table.gene_expression_by_sample.toggle-sample-format-target.tablesorter
  %thead
    %tr
      %th.sample_kind.group-text
        = t 'activerecord.attributes.sample.sample_kind'
      %th.sample_link{data: {'sample-format' => 'short'}}
        = t 'activerecord.attributes.sample.sample_name'
      %th.expression_bar{'data-placeholder' => "Try `>=100` or `100 to 1000`", 'data-value' => '>10'}
        = t 'activerecord.attributes.sample.expression'
        .help-icon.has-tooltip{data: {toggle: 'tooltip', placement: 'top', title: 'The gene expression values are derived from FANTOM5 TSS, aggregating values for each gene (via HGNC mapping) if several TSS were annotated. FANTOM5 expression data are presented as normalized tags per million (TPM) calculated using the relative log expression (RLE) method.'}}
      %th.quantile_over_genes.quantile{data: {placeholder: 'Try >=0.95', value: '>=0.95'} }
        = t 'activerecord.attributes.sample.quantile_over_genes'
        .help-icon.has-tooltip{data: {toggle: 'tooltip', placement: 'top', title: 'Use >= 0.95 filter to show only top 5% samples with the highest expression of a gene.'}}

  %tbody
    - expressions_with_quantiles.each do |sample, expression, quantile_over_genes|
      %tr
        %td= sample.sample_kind
        %td= sample
        %td= expression
        %td= quantile_over_genes
