%h4 Epifactors database description
%h5 Current version 1.7.1 (21 May, 2015)
%p
  Database statistics:
  %ul
    %li #{Gene.count + Histone.count} Genes (including #{Histone.count} histones and protamines)
    %li #{ProteinComplex.count} Protein complexes

%p
  %b Help:
  %ul
    %li
      Database description
      = surround '(', ')' do
        = succeed ',' do
          = link_to '.pdf', '/public_data/v1.7/Database_entries_1_7.pdf'
        = link_to '.doc', '/public_data/v1.7/Database_entries_1_7.doc'
    %li
      Database structure
      = surround '(', ')' do
        = succeed ',' do
          = link_to 'png', '/public_data/v1.7/database_structure.png'
        = link_to 'svg', '/public_data/v1.7/database_structure.svg'
    %li
      Standard terms used
      = surround '(', ')' do
        = succeed ',' do
          = link_to '.pdf', '/public_data/v1.7/Standard_terms_1_7.pdf'
        = link_to '.doc', '/public_data/v1.7/Standard_terms_1_7.doc'
    %li= link_to 'Querying database', '/description/queries'
%p
  %b Downloads:
  %ul
    %li
      Scheme image
      = surround '(', ')' do
        = succeed ',' do
          = link_to 'png', '/main_scheme_300dpi.png'
        = link_to 'svg', '/main_scheme.svg'
    %li
      Table of all genes
      = surround '(', ')' do
        = succeed ',' do
          = link_to '.csv', '/public_data/v1.7/EpiGenes_main_1_7.csv'
        = link_to '.xlsx', '/public_data/v1.7/EpiGenes_main_1_7.xlsx'
    %li
      Table of all protein complexes
      = surround '(', ')' do
        = succeed ',' do
          = link_to '.csv', '/public_data/v1.7/EpiGenes_complexes_1_7.csv'
        = link_to '.xlsx', '/public_data/v1.7/EpiGenes_complexes_1_7.xlsx'
    %li
      Table of all histones and protamines
      = surround '(', ')' do
        = succeed ',' do
          = link_to '.csv', '/public_data/v1.7/EpiGenes_histones_1_7.csv'
        = link_to '.xlsx', '/public_data/v1.7/EpiGenes_histones_1_7.xlsx'

    %li= link_to 'Pfam domains', '/Pfam_domains.pdf'
    %li= link_to 'Gene expressions table (FANTOM 5 data)', '/public_data/gene_expressions_by_sample.zip'
    %li= link_to 'FANTOM5 samples description', '/public_data/fantom_sample_infos.zip'
    %li= link_to 'UNIPROT to HOCOMOCO (transcription factor binding motifs) mapping', '/public_data/HOCOMOCOv9_motifs2uniprot.txt'
