.row-fluid
  .col-12
    %h4 Epifactors database description
    %h5 Current version #{EpigeneDB::DATA_VERSION} (July 7, 2022)
    %p
      Database statistics:
      %ul
        %li #{Gene.count} Proteins
        %li #{Histone.count} Histones and protamines
        %li #{Lncrna.count} lncRNAs
        %li #{ProteinComplex.count} Protein complexes

    %p
      %b Help:
      %ul
        %li
          Database description
          = surround '(', ')' do
            = succeed ',' do
              = link_to '.pdf', "/public_data/v#{EpigeneDB::DATA_VERSION}/Database_entries.pdf"
            = link_to '.doc', "/public_data/v#{EpigeneDB::DATA_VERSION}/Database_entries.doc"
        %li
          Database structure
          = surround '(', ')' do
            = succeed ',' do
              = link_to 'png', "/public_data/v#{EpigeneDB::DATA_VERSION}/database_structure.png"
            = link_to 'svg', "/public_data/v#{EpigeneDB::DATA_VERSION}/database_structure.svg"
        %li
          Standard terms used
          = surround '(', ')' do
            = succeed ',' do
              = link_to '.pdf', "/public_data/v#{EpigeneDB::DATA_VERSION}/Standard_terms.pdf"
            = link_to '.doc', "/public_data/v#{EpigeneDB::DATA_VERSION}/Standard_terms.doc"
        %li= link_to 'Querying database', '/description/queries'
    %p
      %b Downloads:
      %ul
        %li
          Scheme image
          = surround '(', ')' do
            = succeed ',' do
              = link_to 'png', asset_path('main_scheme_300dpi.png')
            = link_to 'svg', asset_path('main_scheme.svg')
        %li
          Table of all proteins
          = surround '(', ')' do
            = succeed ',' do
              = link_to '.csv', "/public_data/v#{EpigeneDB::DATA_VERSION}/EpiGenes_main.csv"
            = link_to '.xlsx', "/public_data/v#{EpigeneDB::DATA_VERSION}/EpiGenes_main.xlsx"
        %li
          Table of all protein complexes
          = surround '(', ')' do
            = succeed ',' do
              = link_to '.csv', "/public_data/v#{EpigeneDB::DATA_VERSION}/EpiGenes_complexes.csv"
            = link_to '.xlsx', "/public_data/v#{EpigeneDB::DATA_VERSION}/EpiGenes_complexes.xlsx"
        %li
          Table of all histones and protamines
          = surround '(', ')' do
            = succeed ',' do
              = link_to '.csv', "/public_data/v#{EpigeneDB::DATA_VERSION}/EpiGenes_histones.csv"
            = link_to '.xlsx', "/public_data/v#{EpigeneDB::DATA_VERSION}/EpiGenes_histones.xlsx"
        %li
          Table of all lncRNAs
          = surround '(', ')' do
            = succeed ',' do
              = link_to '.csv', "/public_data/v#{EpigeneDB::DATA_VERSION}/EpiGenes_lncrnas.csv"
            = link_to '.xlsx', "/public_data/v#{EpigeneDB::DATA_VERSION}/EpiGenes_lncrnas.xlsx"

        %li= link_to 'Tables of the EpiFactors v1.7.3', '/public_data/v1.7.3.zip'
        %li= link_to 'Tables of the EpiFactors v1.6', '/public_data/v1.6.zip'
        %li= link_to 'Tables of the EpiFactors v1.5', '/public_data/v1.5.zip'  
        %li= link_to 'Pfam domains', '/Pfam_domains.pdf'
        %li= link_to 'Gene expressions table (FANTOM 5 data)', '/public_data/gene_expressions_by_sample.zip'
        %li= link_to 'FANTOM5 samples description', '/public_data/fantom_sample_infos.zip'
        %li= link_to 'UNIPROT to HOCOMOCOv9 (transcription factor binding motifs) mapping', '/public_data/HOCOMOCOv9_motifs2uniprot.txt'
    %p
      %b Contacts:
      %ul
        %li Technical questions and suggestions can be addressed to #{link_to 'Ilya Vorontsov', 'mailto:vorontsov.i.e _at_ gmail _dot_ com'}.
        %li Annotation errors can be reported to #{link_to 'Yulia Medvedeva', 'mailto:ju.medvedeva _at_ gmail _dot_ com'} or #{link_to 'Finn Drabløs', 'mailto:finn.drablos _at_ ntnu _dot_ no'}.
        %li General questions can be addressed to #{link_to 'Yulia Medvedeva', 'mailto:ju.medvedeva _at_ gmail _dot_ com'} or #{link_to 'Finn Drabløs', 'mailto:finn.drablos _at_ ntnu _dot_ no'}.

    .citation
      %b Please cite:
      = render 'shared/citation_first'
      %br
      %br
      = render 'shared/citation_second'

    .license
      <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://epifactors.autosome.org/">EpiFactors</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://scholar.google.com/citations?user=iHU4ygoAAAAJ">Yulia A Medvedeva, Daria Marakulina, Ilya E Vorontsov, Ivan V Kulakovskiy, Andreas Lennartsson, Finn Drabløs</a> is licensed under <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;" >Creative Commons Attribution 4.0 International<img style="height:22px!important; margin-left:3px; vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important; margin-left:3px; vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""></a></p>
