%h4 Database description
%h5 Current version 1.6

%ul
  %li
    %b Help:
    %ul
      %li= link_to 'Database description', '/public_data/v1.6/Database_entries_1_6.doc'
      %li= link_to 'Standard terms used', '/public_data/v1.6/Standard_terms_1_6.doc'
  %li
    %b Downloads:
    %ul
      %li
        Scheme image
        = surround '(', ')' do
          = succeed ',' do
            = link_to 'png', '/main_scheme_100dpi.png'
          = link_to 'svg', '/main_scheme.svg'
      %li= link_to 'Table of all genes in .xlsx format', '/public_data/v1.6/EpiGenes_main_1_6.xlsx'
      %li= link_to 'Table of all protein complexes in .xlsx format', '/public_data/v1.6/EpiGenes_complexes_1_6.xlsx'
      %li= link_to 'Table of all histones and protamines in .xlsx format', '/public_data/v1.6/EpiGenes_histones_1_6.xlsx'
      %li= link_to 'Pfam domains', '/Pfam_domains.pdf'
      %li= link_to 'Gene expressions table (FANTOM 5 data)', '/public_data/gene_expressions_by_sample.zip'
      %li= link_to 'Information about FANTOM5 samples', '/public_data/fantom_sample_infos.zip'
      %li= link_to 'UNIPROT to HOCOMOCO mapping', '/public_data/HOCOMOCOv9_motifs2uniprot.txt'
