%table.protein_complex_info.key_value_info
  %tbody
    = table_info_row @protein_complex, :group_name
    = table_info_row @protein_complex, :complex_name
    = table_info_row @protein_complex, :status
    = table_info_row @protein_complex, :genes
    = table_info_row @protein_complex, :alternative_name
    = table_info_row @protein_complex, :protein
    = table_info_row @protein_complex, :uniprot_id, value_column_html: {class: 'uniprot_id_comb'}
    = table_info_row @protein_complex, :pmid_complex, value_column_html: {class: 'pmid'}
    = table_info_row @protein_complex, :function
    = table_info_row @protein_complex, :pmid_function, value_column_html: {class: 'pmid'}
    = table_info_row @protein_complex, :target
    = table_info_row @protein_complex, :specific_target
    = table_info_row @protein_complex, :product
    = table_info_row @protein_complex, :uniprot_id_target, value_column_html: {class: 'uniprot_id'}
    = table_info_row @protein_complex, :pmid_target, value_column_html: {class: 'pmid'}
    = table_info_row @protein_complex, :comment
