%table.tablesorter#epigenes
  %thead
    %tr
      %th HGNC symbol
      %th.sorter-false HGNC ID
      %th HGNC name
      %th.sorter-false gene ID
      %th.sorter-false RefSeq Hs
      %th.sorter-false UniProt AC
      %th UniProt ID
      %th MGI ID
      %th.sorter-false RefSeq Mm
      %th Enzyme commission number
      %th enzyme commission description
      %th Gene tag
      %th Gene description
      %th.splitted_terms_filter.filter-onlyAvail Functional class
      %th.splitted_terms_filter.filter-onlyAvail Function
      %th.sorter-false PMID (function)
      %th Protein complex
      %th.sorter-false PMID (protein complex)
      %th Target
      %th.splitted_terms_filter.filter-onlyAvail Target molecule
      %th Product
      %th.sorter-false PMID (product)
      %th.sorter-false Details
  %tbody
    - @genes.each do |gene|
      %tr
        %td
          = gene.hgnc_symbol
          %br
          = link_to '(gene info)', gene_path(gene)
        %td= gene.hgnc_id
        %td= gene.hgnc_name
        %td= gene.gene_id
        %td= gene.refseq_hs
        %td= gene.uniprot_ac
        %td= gene.uniprot_id
        %td= gene.mgi_id
        %td= gene.refseq_mm
        %td= gene.ec_number
        %td= gene.ec_description
        %td= gene.gene_tag
        %td= gene.gene_desc
        %td= gene.funct_class
        %td= gene.funct
        %td= gene.funct_pmid
        %td= gene.protein_complex
        %td= gene.protein_complex_pmid
        %td= gene.target
        %td= gene.target_molecule
        %td= gene.product
        %td= gene.product_pmid
        %td= gene.details
