.table-actions
  %button.reset{type: 'button'} Reset filters
  %button#popover{type: 'button'} Select Columns
  %button.download{type: 'button'} Get CSV
  %input{type: "text", value: 'genes.csv', class: 'csv-filename'}
  .loading_table
    .loading_logo

%table#epigenes.tablesorter.bootstrap-select-columns-popup
  %thead
    %tr
      = gene_table_header :hgnc_symbol, show_always: true
      = gene_table_header :status, hide_by_default: true
      = gene_table_header :hgnc_id, hide_by_default: true, dont_sort: true, class: 'hgnc_id'
      = gene_table_header :hgnc_name
      = gene_table_header :gene_id, hide_by_default: true, dont_sort: true, class: 'gene_id'
      = gene_table_header :uniprot_ac, hide_by_default: true, dont_sort: true, class: 'uniprot_ac'
      = gene_table_header :uniprot_id, class: 'uniprot_id'
      = gene_table_header :domain, class: 'pfam_domain'
      = gene_table_header :mgi_symbol
      = gene_table_header :mgi_id, class: 'mgi_id'
      = gene_table_header :uniprot_ac_mm, class: 'uniprot_ac'
      = gene_table_header :uniprot_id_mm, class: 'uniprot_id'
      = gene_table_header :gene_tag, hide_by_default: true
      = gene_table_header :gene_desc, hide_by_default: true
      = gene_table_header :function, class: ['splitted_terms_filter', 'filter-onlyAvail']
      = gene_table_header :modification, class: ['splitted_terms_filter', 'filter-onlyAvail']
      = gene_table_header :pmid_function, hide_by_default: true, dont_sort: true, class: 'pmid'
      = gene_table_header :complex_name, class: 'target_complex'
      = gene_table_header :target, class: ['splitted_terms_filter', 'filter-onlyAvail']
      = gene_table_header :specific_target, class: ['splitted_terms_filter', 'filter-onlyAvail']
      = gene_table_header :product, class: ['splitted_terms_filter', 'filter-onlyAvail']
      = gene_table_header :uniprot_id_target, class: 'uniprot_id', hide_by_default: true
      = gene_table_header :pmid_target, hide_by_default: true, dont_sort: true, class: 'pmid'
      = gene_table_header :comment, hide_by_default: true, dont_sort: true
      -# = gene_table_header :protein_complexes, dont_sort: true

  %tbody
    - @genes.each do |gene|
      %tr
        %td{'data-original-value' => gene.hgnc_symbol }= gene.hgnc_symbol_link
        %td= gene.status
        %td= gene.hgnc_id
        %td= gene.hgnc_name
        %td= gene.gene_id
        %td= gene.uniprot_ac
        %td= gene.uniprot_id
        %td= gene.domain
        %td= gene.mgi_symbol
        %td= gene.mgi_id
        %td= gene.uniprot_ac_mm
        %td= gene.uniprot_id_mm
        %td= gene.gene_tag
        %td= gene.gene_desc
        %td= gene.function
        %td= gene.modification
        %td= gene.pmid_function
        %td= gene.complex_name
        %td= gene.target
        %td= gene.specific_target
        %td= gene.product
        %td= gene.uniprot_id_target
        %td= gene.pmid_target
        %td= gene.comment
        -# %td= gene.protein_complexes
