%table.tablesorter#epigenes
  %thead
    %tr
      %th= t 'activerecord.attributes.gene.hgnc_symbol'
      %th.sorter-false= t 'activerecord.attributes.gene.hgnc_id'
      %th= t 'activerecord.attributes.gene.hgnc_name'
      %th.sorter-false= t 'activerecord.attributes.gene.gene_id'
      %th.sorter-false= t 'activerecord.attributes.gene.refseq_hs'
      %th.sorter-false= t 'activerecord.attributes.gene.uniprot_ac'
      %th= t 'activerecord.attributes.gene.uniprot_id'
      %th= t 'activerecord.attributes.gene.mgi_id'
      %th.sorter-false= t 'activerecord.attributes.gene.refseq_mm'
      %th= t 'activerecord.attributes.gene.ec_number'
      %th= t 'activerecord.attributes.gene.ec_description'
      %th= t 'activerecord.attributes.gene.gene_tag'
      %th= t 'activerecord.attributes.gene.gene_desc'
      %th.splitted_terms_filter.filter-onlyAvail= t 'activerecord.attributes.gene.funct_class'
      %th.splitted_terms_filter.filter-onlyAvail= t 'activerecord.attributes.gene.funct'
      %th.sorter-false= t 'activerecord.attributes.gene.funct_pmid'
      %th= t 'activerecord.attributes.gene.protein_complex'
      %th.sorter-false= t 'activerecord.attributes.gene.protein_complex_pmid'
      %th= t 'activerecord.attributes.gene.target'
      %th.splitted_terms_filter.filter-onlyAvail= t 'activerecord.attributes.gene.target_molecule'
      %th= t 'activerecord.attributes.gene.product'
      %th.sorter-false= t 'activerecord.attributes.gene.product_pmid'
      %th.sorter-false= t 'activerecord.attributes.gene.details'

  %tbody
    - @genes.each do |gene|
      %tr
        %td
          = gene.hgnc_symbol
          %br
          = link_to '(gene info)', gene_path(gene)
        %td= gene.hgnc_id
        %td= gene.hgnc_name
        %td= gene.gene_id
        %td= gene.refseq_hs
        %td= gene.uniprot_ac
        %td= gene.uniprot_id
        %td= gene.mgi_id
        %td= gene.refseq_mm
        %td= gene.ec_number
        %td= gene.ec_description
        %td= gene.gene_tag
        %td= gene.gene_desc
        %td= gene.funct_class
        %td= gene.funct
        %td= gene.funct_pmid
        %td= gene.protein_complex
        %td= gene.protein_complex_pmid
        %td= gene.target
        %td= gene.target_molecule
        %td= gene.product
        %td= gene.product_pmid
        %td= gene.details
