%button#popover.btn.btn-default{type: 'button'} Select Columns
%button.btn.btn-default.reset{type: 'button'} Reset filters

%table#epigenes.tablesorter.bootstrap-select-columns-popup
  %thead
    %tr
      = gene_table_header :hgnc_symbol, show_always: true
      = gene_table_header :hgnc_id, hide_by_default: true, dont_sort: true
      = gene_table_header :hgnc_name
      = gene_table_header :gene_id, hide_by_default: true, dont_sort: true
      = gene_table_header :refseq_hs, hide_by_default: true, dont_sort: true
      = gene_table_header :uniprot_ac, hide_by_default: true, dont_sort: true
      = gene_table_header :uniprot_id
      = gene_table_header :mgi_id
      = gene_table_header :refseq_mm, hide_by_default: true, dont_sort: true
      = gene_table_header :ec_number, hide_by_default: true
      = gene_table_header :ec_description, hide_by_default: true
      = gene_table_header :gene_tag, hide_by_default: true
      = gene_table_header :gene_desc, hide_by_default: true
      = gene_table_header :funct_class, class: ['splitted_terms_filter', 'filter-onlyAvail']
      = gene_table_header :funct, class: ['splitted_terms_filter', 'filter-onlyAvail']
      = gene_table_header :funct_pmid, hide_by_default: true, dont_sort: true
      = gene_table_header :protein_complex
      = gene_table_header :protein_complex_pmid, hide_by_default: true, dont_sort: true
      = gene_table_header :target_molecule, class: ['splitted_terms_filter', 'filter-onlyAvail']
      = gene_table_header :target
      = gene_table_header :product
      = gene_table_header :product_pmid, hide_by_default: true, dont_sort: true
      = gene_table_header :details, hide_by_default: true, dont_sort: true
      = gene_table_header :gene_complexes, dont_sort: true

  %tbody
    - @genes.each do |gene|
      %tr
        %td
          = gene.hgnc_symbol
          %br
          = link_to '(gene info)', gene_path(gene)
        %td= gene.hgnc_id
        %td= gene.hgnc_name
        %td= gene.gene_id
        %td= gene.refseq_hs
        %td= gene.uniprot_ac
        %td= gene.uniprot_id
        %td= gene.mgi_id
        %td= gene.refseq_mm
        %td= gene.ec_number
        %td= gene.ec_description
        %td= gene.gene_tag
        %td= gene.gene_desc
        %td= gene.funct_class
        %td= gene.funct
        %td= gene.funct_pmid
        %td= gene.protein_complex
        %td= gene.protein_complex_pmid
        %td= gene.target_molecule
        %td= gene.target
        %td= gene.product
        %td= gene.product_pmid
        %td= gene.details
        %td= gene.gene_complexes
