%h4 Gene info
%table.epigene_info.key_value_info
  %tbody
    = table_info_row @gene, :hgnc_symbol
    = table_info_row @gene, :status
    = table_info_row @gene, :hgnc_id, value_column_html: {class: 'hgnc_id'}
    = table_info_row @gene, :hgnc_name
    = table_info_row @gene, :gene_id, value_column_html: {class: 'gene_id'}
    = table_info_row @gene, :uniprot_ac, value_column_html: {class: 'uniprot_ac'}
    = table_info_row @gene, :uniprot_id, value_column_html: {class: 'uniprot_id'}
    = table_info_row @gene, :domain, value_column_html: {class: 'pfam_domain'}
    = table_info_row @gene, :mgi_symbol
    = table_info_row @gene, :mgi_id, value_column_html: {class: 'mgi_id'}
    = table_info_row @gene, :uniprot_ac_mm, value_column_html: {class: 'uniprot_ac'}
    = table_info_row @gene, :uniprot_id_mm, value_column_html: {class: 'uniprot_id'}
    = table_info_row @gene, :gene_tag
    = table_info_row @gene, :gene_desc
    = table_info_row @gene, :functional_class
    = table_info_row @gene, :function
    = table_info_row @gene, :pmid_function, value_column_html: {class: 'pmid'}
    = table_info_row @gene, :complex_name, value_column_html: {class: 'target_complex'}
    = table_info_row @gene, :target
    = table_info_row @gene, :specific_target
    = table_info_row @gene, :product
    = table_info_row @gene, :uniprot_id_target, value_column_html: {class: 'uniprot_id'}
    = table_info_row @gene, :pmid_target, value_column_html: {class: 'pmid'}
    = table_info_row @gene, :comment
    -# = table_info_row @gene, :gene_complexes

%hr
%h4 Expression statistics
= render partial: 'shared/statistics', locals: {statistics: @expression_statistics}
= render partial: 'shared/expressions_by_tissues', locals: {expressions_by_tissues: @expressions}
