.table_caption Gene info
%table.key_value_info
  %tbody
    = table_info_row @gene, :hgnc_symbol
    = table_info_row @gene, :status
    = table_info_row @gene, :hgnc_id, html_options: { value_column_html: {class: 'hgnc_id'} }
    = table_info_row @gene, :hgnc_name
    = table_info_row @gene, :gene_id, html_options: { value_column_html: {class: 'gene_id'} }
    = table_info_row @gene, :uniprot_ac, html_options: { value_column_html: {class: 'uniprot_ac'} }
    = table_info_row @gene, :uniprot_id, html_options: { value_column_html: {class: 'uniprot_id'} }
    = table_info_row @gene, :domain, html_options: { value_column_html: {class: 'pfam_domain'} }
    = table_info_row @gene, :mgi_symbol
    = table_info_row @gene, :mgi_id, html_options: { value_column_html: {class: 'mgi_id'} }
    = table_info_row @gene, :uniprot_ac_mm, html_options: { value_column_html: {class: 'uniprot_ac'} }
    = table_info_row @gene, :uniprot_id_mm, html_options: { value_column_html: {class: 'uniprot_id'} }
    = table_info_row @gene, :gene_tag
    = table_info_row @gene, :gene_desc
    = table_info_row @gene, :function
    = table_info_row @gene, :modification
    = table_info_row @gene, :pmid_function, html_options: { value_column_html: {class: 'pmid'} }
    = table_info_row @gene, :complex_name, html_options: { value_column_html: {class: 'target_complex'} }
    = table_info_row @gene, :target
    = table_info_row @gene, :specific_target
    - if @gene.tf?
      = table_info_row @gene, :hocomoco_link, html_options: { value_column_html: {class: 'hocomoco'} }
    = table_info_row @gene, :product
    = table_info_row @gene, :uniprot_id_target, html_options: { value_column_html: {class: 'uniprot_id'} }
    = table_info_row @gene, :pmid_target, html_options: { value_column_html: {class: 'pmid'} }
    = table_info_row @gene, :comment

%hr
.table_caption Expression statistics
= render partial: 'shared/statistics', locals: {statistics: @expression_statistics}
= render partial: 'shared/expressions_by_samples', locals: {statistics: @expression_statistics, expressions_with_quantiles: @expressions_with_quantiles}

- content_for(:meta_description) do
  = "Gene info for human #{@gene.hgnc_symbol} (#{@gene.uniprot_id} in UniProt) and murine #{@gene.mgi_symbol} (#{@gene.uniprot_id_mm} in UniProt)"
