%table.tablesorter#gene_complexes
  %thead
    %tr
      %th= t 'activerecord.attributes.gene_complex.complex_group'
      %th= t 'activerecord.attributes.gene_complex.complex_group_name'
      %th= t 'activerecord.attributes.gene_complex.complex_name'
      %th= t 'activerecord.attributes.gene_complex.alternative_names'
      %th= t 'activerecord.attributes.gene_complex.proteins_involved'
      %th= t 'activerecord.attributes.gene_complex.uniprot_ids'
      %th.splitted_terms_filter.filter-onlyAvail= t 'activerecord.attributes.gene_complex.funct'
      %th= t 'activerecord.attributes.gene_complex.complex_members_pmid'
      %th= t 'activerecord.attributes.gene_complex.target'
      %th.splitted_terms_filter.filter-onlyAvail= t 'activerecord.attributes.gene_complex.target_molecule'
      %th= t 'activerecord.attributes.gene_complex.product'
      %th= t 'activerecord.attributes.gene_complex.function_pmid'
      %th= t 'activerecord.attributes.gene_complex.details'
  %tbody
    - @gene_complexes.each do |gene_complex|
      %tr
        %td
          = gene_complex.complex_group
          %br
          = link_to '(complex info)', gene_complex_path(gene_complex)
        %td= gene_complex.complex_group_name
        %td= gene_complex.complex_name
        %td= gene_complex.alternative_names
        %td= gene_complex.proteins_involved
        %td= gene_complex.uniprot_ids
        %td= gene_complex.funct
        %td= gene_complex.complex_members_pmid
        %td= gene_complex.target
        %td= gene_complex.target_molecule
        %td= gene_complex.product
        %td= gene_complex.function_pmid
        %td= gene_complex.details
