!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - if content_for?(:meta_description)
      %meta{name: 'description', content: yield(:meta_description)}
    = csrf_meta_tags
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61972442-1', 'auto');
      ga('send', 'pageview');
  %body
    %header
      = nav_bar do
        = menu_group do
          = menu_item 'Home', root_path
          = menu_item 'Genes', genes_path, data: {toggle: 'tooltip', placement: 'right', title: 'Please note that the whole table may take a few seconds to load.'}, class: 'has-tooltip'
          = menu_item 'Сomplexes', protein_complexes_path
          = menu_item 'Histones and Protamines', histones_path
          = menu_item 'Expression', samples_path, data: {toggle: 'tooltip', placement: 'right', title: 'Please note that the whole table may take a few seconds to load.'}, class: 'has-tooltip'
          = menu_item 'Docs and Downloads', epigene_description_path
        = form_tag epigene_search_path, class: 'pull-right navbar-search' do
          = label_tag do
            Search:
            = text_field_tag 'search', params[:search]
          = select_tag 'kind', options_for_select({'Genes' => :genes, 'Сomplexes' => :protein_complexes, 'Histones and protamines' => :histones},  [:genes, :protein_complexes, :histones].include?(params[:controller].to_sym) ? params[:controller].to_sym : :genes)
          = submit_tag 'Search'
    %div{class: ['container', "controller-#{params[:controller]}", "action-#{params[:action]}"] }
      = yield
    %footer
      .grant Supported by RFBR grants 14-04-00180 and 15-34-20423.
