!!!
%html
  %head
    %title EpigeneDB
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = nav_bar do
        = menu_group do
          = menu_item 'Full table of genes', genes_path
          = menu_item 'Full table of gene complexes', gene_complexes_path
        = form_tag epigene_search_path, class: 'pull-right navbar-search' do
          = label_tag do
            Search:
            = text_field_tag 'search'
          = select_tag 'kind', options_for_select({'Genes' => :genes, 'Gene complexes' => :gene_complexes}, :genes)
          = submit_tag 'Search'
    .container
      = yield
    %footer