!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag 'application', media: 'all' # sprockets
    = stylesheet_pack_tag 'application', media: 'all' # webpack
    = javascript_pack_tag 'application', defer: true  # webpack
    = javascript_include_tag 'application', defer: true # sprockets (after webpack)
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    - if content_for?(:meta_description)
      %meta{name: 'description', content: yield(:meta_description)}
    = csrf_meta_tags
    :plain
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61972442-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-61972442-1');
      </script>

  %body
    %header
      %nav.navbar.navbar-default{ role: "navigation" }
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{
              type: "button",
              data: { toggle: "collapse", target: "#main-navbar" },
              aria: { expanded: "false" }
            }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

            / = link_to "EpigeneDB", root_path, class: "navbar-brand"

          #main-navbar.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li= link_to "Home", root_path
              %li
                = link_to "Proteins", genes_path,
                  data: { toggle: "tooltip", placement: "right", title: "Please note that the whole table may take a few seconds to load." },
                  class: "has-tooltip"
              %li= link_to "Сomplexes", protein_complexes_path
              %li= link_to "Histones and Protamines", histones_path
              %li= link_to "lncRNAs", lncrnas_path
              %li
                = link_to "Expression", samples_path,
                  data: { toggle: "tooltip", placement: "right", title: "Please note that the whole table may take a few seconds to load." },
                  class: "has-tooltip"
              %li= link_to "Docs and Downloads", epigene_description_path

            = form_tag epigene_search_path, class: "pull-right navbar-search navbar-form", role: "search" do
              .form-group
                = label_tag do
                  Search:
                  = text_field_tag "search", params[:search] #, class: "form-control"
              = select_tag "kind", options_for_select({ "Genes" => :genes, "Сomplexes" => :protein_complexes, "Histones and protamines" => :histones, "lncRNAs" => :lncrnas }, [:genes, :protein_complexes, :histones, :lncrnas].include?(params[:controller].to_sym) ? params[:controller].to_sym : :genes) #, class: "form-control"
              = submit_tag "Search" #, class: "btn btn-default"
    %div{class: ['container-fluid', "controller-#{params[:controller]}", "action-#{params[:action]}"] }
      = yield
    %footer
      .grant Supported by RFBR grants 14-04-00180 and 15-34-20423.
